{% extends 'base.html' %}
{% load static %}

{% block title %} Intellibox | Login Page {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/intellibox_auth/css/login_page.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h2><img src="{% static '/img/box.gif' %}" alt=""> intellibox</h2>
        <div id="forms">
            {% csrf_token %}
            <form id="login-form">
                {% csrf_token %}
                <h3><b><i class="fas fa-sign-in-alt"></i> Log In</b></h3>
                <label for="">Username</label>
                <input id="username-login" name="username-login" type="text" class="form-control" required>
                <label for="">Password</label>
                <input id="password-login" name="password-login" type="password" class="form-control" required>
                <button id="login-btn" type="submit" class="btn btn-primary">Log In</button>
                <button id="no-account-btn" type="submit" class="btn btn-primary">No account?</button>
            </form>
            <form id="register-form" class="hidden">
                <h3><b><i class="fas fa-user-plus"></i> Register</b></h3>
                {{register_form.username.label}}
                {{register_form.username}}
                {{register_form.email.label}}
                {{register_form.email}}
                {{register_form.password1.label}}
                {{register_form.password1}}
                {{register_form.password2.label}}
                {{register_form.password2}}
                <label for="">PIN</label>
                {{register_form.pin}}
                <button id="register-btn" type="submit" class="btn btn-primary">Register</button>
                <button id="already-user-btn" type="submit" class="btn btn-primary">Already an user?</button>
            </form>
        </div>
        <a href="{% url 'password_reset' %}" id="reset-a" class="btn btn-primary"><i class="fas fa-key"></i> Forgot password?</a>
        <a id="github-a" target="_blank" href="https://github.com/FMularski/intellibox"><i class="fab fa-github-square"></i></a>
    </main>
{% endblock %}

{% block script %}
    <script src="{% static '/intellibox_auth/js/form-swap.js' %}"></script>
    <script src="{% static '/intellibox_auth/js/register.js' %}"></script>
    <script src="{% static '/intellibox_auth/js/login.js' %}"></script>
{% endblock %}