{% extends 'base.html' %}
{% load static %}

{% block title %} Intellibox | Password reset {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/intellibox_auth/css/password_reset.css' %}">
{% endblock %}

{% block content %}
    <main>
        {% csrf_token %}
        <h2><b><i class="fas fa-key"></i> Password reset</b></h2>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form action="" id="password-reset-form" method="POST">
            {% csrf_token %}
            <label for="">Email</label>
            <input type="email" name="email" id="reset-email" class="form-control" required>
            <button id="password-reset-btn" type="submit" class="btn btn-primary">Send</button>
        </form>
            
        <a href="{% url 'login_page' %}" id="return-btn" class="btn btn-primary"><i class="fas arrow-left"></i> Return</a>
    </main>
{% endblock %}

{% block script %}
    <script>
        (function(){
            const resetForm = document.querySelector('#password-reset-form');
            const resetPasswordBtn = document.querySelector('#password-reset-btn');

            resetForm.addEventListener('submit', () => {
                resetPasswordBtn.innerHTML = '<i class="fas fa-spinner"></i>';  
                resetPasswordBtn.style.pointerEvents = 'none';
            })
        })();
    </script>
{% endblock %}
