{% extends 'base.html' %}
{% load static %}

{% block title %} Intellibox | Password reset {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/intellibox_auth/css/password_reset.css' %}">
{% endblock %}

{% block content %}
    <main>
        {% csrf_token %}
        <h2><b><i class="fas fa-key"></i> Enter new password</b></h2>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="" id="password-reset-form" method="POST">
            {% csrf_token %}
            <label for="">New password</label>
            <input type="password" name="new_password1" class="form-control" required>
            <label for="">Confirm password</label>
            <input type="password" name="new_password2" class="form-control" required>


            <button id="password-change-btn" type="submit" class="btn btn-primary">Change password</button>
        </form>
            
        <a href="{% url 'login_page' %}" id="return-btn" class="btn btn-primary"><i class="fas arrow-left"></i> Return</a>
    </main>
{% endblock %}

{% block script %}
    <script>
        (function(){
            const resetForm = document.querySelector('#password-reset-form');
            const changePasswordBtn = document.querySelector('#password-change-btn');

            resetForm.addEventListener('submit', () => {
                changePasswordBtn.innerHTML = '<i class="fas fa-spinner"></i>';  
                changePasswordBtn.style.pointerEvents = 'none';
            })
        })();
    </script>
{% endblock %}
