@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div#header-logo {
        img {
            width: 8rem;
        }

        span {
            font-family: 'Righteous', cursive;
            color: white;
            font-size: 2rem;
            text-shadow: rgb(76, 38, 133) 5px 5px;
        }
    }

    div#header-username {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;

        span {
            color: white;
            font-size: 1.2rem;
            transition: all 0.3s ease;

            &:hover {
                color: rgb(232, 194, 255);
                cursor: pointer;
            }
        }

        i#logout-btn {
            color: white;
            margin-left: .5rem;
            font-size: 1.2rem;
            display: none;

            &:hover {
                cursor: pointer;
                transition: all 0.3s ease;
                transform: scale(1.1);
            }
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

div#main-panel {
    background: white;
    padding: 3rem;
    flex: 1;
    margin-left: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    min-height: 70vh;

    h2 {
        color: rgb(167, 167, 167);

        i.fa-spinner {
            animation: spinning 1s ease infinite;
        }

        i.fa-arrow-left {
            animation: left-arrow .5s ease infinite alternate;
        }

        .breadcrumbs-segment {
            transition: all 0.3s ease;
            &:hover {
                cursor: pointer;
                color: rgb(76, 38, 133);
            }
        }
    }

    p#current-path-full {
        height: 1.2rem;
    }

    div#search-sort-panels {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &.hidden {
            display: none;
        }

        input, select { 
            width: 20rem;
            background: rgb(213, 186, 255);
            box-shadow: rgb(76, 38, 133) 5px 5px;
            color: white;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

    div#box-content {

        p#loading-content {
            text-align: center;
            font-size: 1.2rem;
            color: rgb(167, 167, 167);

            i {
                animation: spinning 1s ease infinite;
            }
        }
    
        p#no-files {
            padding: 2rem;
            font-size: 1.2rem;
            text-align: center;
        }
    
        table {
            width: 100%;
            margin-top: 1rem;
    
            tr {
                height: 3rem;
                border-bottom: 1px solid gray;
                font-size: 1.2rem;
                transition: all 0.3s ease;
    
                i {
                    margin-left: 2rem;
                }
    
                &:hover {
                    background: rgb(233, 233, 233);
                    cursor: pointer;
                }
    
                &.active-box-item {
                    background: cornflowerblue;
                    color: white;
                }
            }
        }

        embed {
            max-width: 100%;
            min-width: 40%;
            min-height: 30vh;
            display: block;
            margin: auto;
        }
    }
}

@keyframes spinning {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}

@keyframes left-arrow {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-7px);
    }
}

@media screen and (max-width:1000px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 750px) {
    div#main-panel {
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin: 0;
    }
}