@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div#header-logo img {
  width: 8rem;
}

header div#header-logo span {
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 2rem;
  text-shadow: #4c2685 5px 5px;
}

header div#header-username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

header div#header-username span {
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header div#header-username span:hover {
  color: #e8c2ff;
  cursor: pointer;
}

header div#header-username i#logout-btn {
  color: white;
  margin-left: .5rem;
  font-size: 1.2rem;
  display: none;
}

header div#header-username i#logout-btn:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div#main-panel {
  background: white;
  padding: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  min-height: 70vh;
}

div#main-panel h2 {
  color: #a7a7a7;
}

div#main-panel h2 i {
  -webkit-animation: spinning 1s ease infinite;
          animation: spinning 1s ease infinite;
}

div#main-panel div#search-sort-panels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div#main-panel div#search-sort-panels input, div#main-panel div#search-sort-panels select {
  width: 20rem;
  background: #d5baff;
  -webkit-box-shadow: #4c2685 5px 5px;
          box-shadow: #4c2685 5px 5px;
  color: white;
  text-align: center;
}

div#main-panel div#search-sort-panels input:hover, div#main-panel div#search-sort-panels select:hover {
  cursor: pointer;
}

div#main-panel div#box-content p#loading-content {
  text-align: center;
  font-size: 1.2rem;
  color: #a7a7a7;
}

div#main-panel div#box-content p#loading-content i {
  -webkit-animation: spinning 1s ease infinite;
          animation: spinning 1s ease infinite;
}

div#main-panel div#box-content p#no-files {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

div#main-panel div#box-content table {
  width: 100%;
  margin-top: 1rem;
}

div#main-panel div#box-content table tr {
  height: 3rem;
  border-bottom: 1px solid gray;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div#main-panel div#box-content table tr i {
  margin-left: 2rem;
}

div#main-panel div#box-content table tr:hover {
  background: #e9e9e9;
  cursor: pointer;
}

div#main-panel div#box-content table tr.active-box-item {
  background: cornflowerblue;
  color: white;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 750px) {
  div#main-panel {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0;
  }
}
/*# sourceMappingURL=boxes.css.map */