div#dark {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

div#dark.active {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

div#new-panel {
  position: fixed;
  top: -80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40rem;
  padding: 3rem;
  background: white;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(76, 38, 133, 0.4) 5px 5px;
          box-shadow: rgba(76, 38, 133, 0.4) 5px 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div#new-panel.active {
  top: 10%;
  z-index: 2;
}

div#new-panel h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#new-panel h2 i#close-new-panel-btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div#new-panel h2 i#close-new-panel-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

div#new-panel form input[type="text"], div#new-panel form select, div#new-panel form p.new-location {
  margin-bottom: 1rem;
  -webkit-box-shadow: #4c2685 5px 5px;
          box-shadow: #4c2685 5px 5px;
  background: #d5baff;
  color: white;
  text-align: center;
}

div#new-panel form input[type="text"]:hover, div#new-panel form select:hover, div#new-panel form p.new-location:hover {
  cursor: pointer;
}

div#new-panel form p.new-location {
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
}

div#new-panel form p.new-location:hover {
  cursor: default;
}

div#new-panel form button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  width: 15rem;
}

div#new-panel form button i.fa-spinner {
  -webkit-animation: spinning 1s ease infinite;
          animation: spinning 1s ease infinite;
}

div#new-panel form input#new-file-input.hidden, div#new-panel form div#new-name.hidden {
  display: none;
}

div#new-panel form input#new-file-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#new-panel form input::-webkit-file-upload-button {
  display: inline;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #d5baff;
  border: 2px solid #4c2685;
  padding: .25rem .5rem .25rem .5rem;
  border-radius: 5px;
  color: white;
}

div#new-panel form input::-webkit-file-upload-button:hover, div#new-panel form input::-webkit-file-upload-button:focus {
  cursor: pointer;
}

div#new-panel form ul#uploaded-files-list {
  list-style: none;
  font-size: 1rem;
}

div#new-panel form ul#uploaded-files-list.hidden {
  display: none;
}

div#new-panel form ul#uploaded-files-list li {
  -webkit-animation: files-list .5s ease;
          animation: files-list .5s ease;
  margin-left: 1rem;
}

@-webkit-keyframes files-list {
  from {
    opacity: 0;
    margin-left: 0;
  }
  to {
    opacity: 1;
    margin-left: 1rem;
  }
}

@keyframes files-list {
  from {
    opacity: 0;
    margin-left: 0;
  }
  to {
    opacity: 1;
    margin-left: 1rem;
  }
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=new-panel.css.map */