{% extends 'base.html' %}
{% load static %}

{% block title %} {{user}}'s boxes {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/boxes/css/boxes.css' %}">
    <link rel="stylesheet" href="{% static '/boxes/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/boxes/css/context-menu.css' %}">
    <link rel="stylesheet" href="{% static '/boxes/css/new-panel.css' %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <header>
        <div id="header-logo">
            <img src="{% static '/img/box.gif' %}" alt="">
            <span>intellibox</span>
        </div>
        <div id="header-username">
            <span id="username"><i class="fas fa-user"></i> {{user}}</span>
            <i id="logout-btn" class="fas fa-power-off"></i>
        </div>
    </header>
    <main>
        <nav>
            <p class="new-btn"><i class="fas fa-plus"></i> New</p>
            <div>
                <p class="nav-item active-nav-item"><i class="fas fa-box-open"></i> My box</p>
                <p class="nav-item"><i class="fas fa-star"></i> Favourites</p>
                <p class="nav-item"><i class="fas fa-clock"></i> Recent</p>
                <p class="nav-item"><i class="fas fa-trash-alt"></i> Bin</p>
                <hr>
                <p class="storage-info"><i class="fas fa-cloud"></i> Storage</p>
                <div class="storage-bar-bg">
                    <div class="storage-bar"></div>
                </div>
                <p class="storage-occupied-data"> 
                    <span class="storage-occupied-number">8.65</span> GB of 
                    <span class="storage-limitnumber">15</span> GB used
                </p>
            </div>
        </nav>
        <div id="main-panel">
            <h2 id="current-path"><i class="fas fa-spinner"></i></h2>
            <hr>
            <div id="search-sort-panels">
                <div id="search-panel">
                    Search: <input type="text" class="form-control">
                </div>
                <div id="sort-panel">
                    Sort:
                    <select name="" id="" class="form-control">
                        <option value="">Name</option>
                        <option value="">Size</option>
                        <option value="">Modified date</option>
                    </select>
                </div>
            </div>
            <div id="box-content">
                <p id="loading-content"><i class="fas fa-spinner"></i></p>
                <!-- <p id="no-files"><i class="far fa-file-excel"></i> No files here yet.</p> -->
            </div>
        </div>
    </main>

    <div id="context-menu">
        <p class="context-menu-item"><i class="fas fa-search"></i> Preview</p>
        <p class="context-menu-item"><i class="fas fa-cloud-download-alt"></i> Download</p>
        <p class="context-menu-item"><i class="fas fa-edit"></i> Rename</p>
        <p class="context-menu-item"><i class="fas fa-times"></i> Remove</p>
        <p class="context-menu-item"><i class="fas fa-arrows-alt"></i> Move</p>
        <p class="context-menu-item"><i class="fas fa-star"></i> Mark as favourite</p>
        <p class="context-menu-item"><i class="fas fa-link"></i> Get link</p>
    </div>

    <div id="dark"></div>
    <div id="new-panel">
        <h2><span><i class="fas fa-plus"></i> New</span><i id="close-new-panel-btn" class="fas fa-times"></i></h2>
        <form id="add-new-form" enctype="multipart/form-data">
            <label for="">Instance:</label>
            <select name="" id="select-instance" class="form-control">
                <option value="Box">Box</option>
                <option value="File">File</option>
            </select>
            <label for="">Location:</label>
            <p class="new-location">box1/box2/box3</p>

            <div id="new-name">
                <label for="">Name:</label>
                <input type="text" class="form-control">
            </div>
            
            <input id="new-file-input" class="hidden" type="file" multiple> <br>
            
            <button class="btn btn-primary"><i class="fas fa-arrow-circle-up"></i> upload</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static '/boxes/js/logout.js' %}"></script>
    <script src="{% static '/boxes/js/nav.js' %}"></script>
    <script src="{% static '/boxes/js/box-items.js' %}"></script>
    <script src="{% static '/boxes/js/context-menu.js' %}"></script>
    <script src="{% static '/boxes/js/new-panel.js' %}"></script>

    <script>
        (function(){
            function formatSize(size) {

                const units = ['B', 'KB', 'MB', 'GB'];
                let units_idx = 0;

                while ((size / 1024) > 1) {
                    size = size / 1024;
                    units_idx += 1;
                }

                return `${Math.round(size)} ${units[units_idx]}`;
            }


            const boxContent = document.querySelector('#box-content');

            $.ajax({
                url: '/api/open_root/',
                dataType: 'json',
                success: response => {
                    console.log(response);
                    document.querySelector('#current-path').innerHTML = response.box.name;
                    
                    // if no files/boxes in the box
                    if (response.innerBoxes.length + response.innerFiles.length == 0) {
                        boxContent.innerHTML = '<p id="no-files"><i class="far fa-file-excel"></i> No files here yet.</p>';
                        return;
                    }

                    let rows = '';

                    response.innerBoxes.concat(response.innerFiles).forEach(item => {
                        rows += 
                            '<tr class="box-item">' + 
                                '<td><i class="far fa-star"></i></td>' +
                                '<td>' + 
                                    (item.instance ? '<i class="fas fa-file"></i>' : '<i class="fas fa-archive"></i>') +  
                                '</td>' + 
                                '<td>' + item.name + '</td>' + 
                                '<td>' + (item.instance ? formatSize(item.size) : item.files_count + ' files') + '</td>' + 
                                '<td>' + item.last_modified + '</td>' +
                            '</tr>';
                    });

                    boxContent.innerHTML = 
                        '<table>' + 
                            '<thead>' + 
                                '<th></th>' + 
                                '<th></th>' + 
                                '<th>Name</th>' + 
                                '<th>Size</th>' + 
                                '<th>Last Modified</th>' + 
                            '</thead>' + 
                            '<tbody>' + rows + '</tbody>' + 
                        '</table>';
                }
            });

            
        })();
    </script>
{% endblock %}